<div class="card shadow-sm" style="width: 18rem;">

    <!-- Card Header-->
    <div class="card-header bg-light d-flex justify-content-center py-2">
        <span class="text-muted">Add New User</span>
    </div>

    <!-- Card Body -->
    <div class="card-body text-center">

        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <img src="../assets/default-avatar.png" alt="Default Avatar" class="mb-3" style="width: 10rem;">
        
            <div class="row g-2 mb-3">
                <div class="col-6">
                    <input class="form-control" formControlName="id" type="text" placeholder="id">
                </div>
                <div class="col-6">
                    <input class="form-control" formControlName="name" type="text" placeholder="Name">
                </div>
                <div class="col-6">
                    <input class="form-control" formControlName="email" type="text" placeholder="Email">
                </div>
                <div class="col-6">
                    <input class="form-control" formControlName="password" type="text" placeholder="Password">
                </div>
            </div>
        
            <button class="btn btn-primary w-100 rounded-pill" [disabled]="userForm.invalid">
                {{ buttonLabel}}
            </button>
        </form>

    </div>
</div>
